<section>
  <form [formGroup]="loginForm" fxLayout='column' fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input formControlName="email" type="email" matInput placeholder="Your Email">
          <mat-hint>Enter your Email</mat-hint>
          <mat-error>Valid Email Required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" type="password" matInput placeholder="Your Password">
          <mat-error>Valid Password Required</mat-error>
          <mat-hint>Enter your Password</mat-hint>
        </mat-form-field>
    <div fxLayout='row'>
      <button type="reset" mat-raised-button> Cancel </button>
      <button type="submit" mat-raised-button color="accent" [disabled]="loginForm.invalid"> Login </button>
    </div>
  </form>
</section>