<mat-toolbar color="accent">
  <div>
    <button fxHide.gt-xs mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/" routerLinkActive="active">Pandora-LOGO</a>
  </div>
  <div fxFlex fxLayoutGap="10px" fxLayoutAlign="end" fxHide.lt-sm>
    <div *ngIf="!isAuth">
      <a mat-list-item routerLink="/signup"> Sign Up </a>
    </div>
    <div *ngIf="!isAuth">
      <a mat-list-item routerLink="/login"> Login </a>
    </div>
    <div *ngIf="isAuth">
      <a mat-list-item routerLink="/training"> Training</a>
    </div>
    <div *ngIf="isAuth">
      <a mat-list-item routerLink="/" (click)="onLogout()"> Logout</a>
    </div>
  </div>
</mat-toolbar>