<!-- <p>
  HOME PAGE
</p>


<a mat-button routerLink="/signup" routerLinkActive="active">Signup page</a>
<a mat-button routerLink="/login" routerLinkActive="active">Login page</a> -->

<div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-title> Activity </mat-card-title>
    <mat-card-subtitle> Stay Active and enjoy better health and more fun!</mat-card-subtitle>
    <img mat-card-image src=".\assets\speedrope-unsplash.jpg">
    <mat-card-actions>
      <button mat-button routerLink="/signup"> Sign Up Today </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title> Challenges </mat-card-title>
    <mat-card-subtitle> Never stop! Dive into new challenges every day</mat-card-subtitle>
    <img mat-card-image src=".\assets\rock-challenges-unsplash.jpg">
    <mat-card-actions>
      <button mat-button routerLink="/signup"> Sign Up Today </button>
    </mat-card-actions>
  </mat-card>
    <mat-card>
      <mat-card-title> Community </mat-card-title>
      <mat-card-subtitle> Get to know other peole who share your passion</mat-card-subtitle>
      <img mat-card-image src=".\assets\fitness-group-unsplash.jpg">
      <mat-card-actions>
        <button mat-button routerLink="/signup"> Sign Up Today </button>
      </mat-card-actions>
    </mat-card>
</div>
